# Vector configuration for sending logs to ClickHouse

[sources.syslog]
type = "file"
include = ["/var/log/syslog"]

[sinks.clickhouse]
type = "clickhouse"
inputs = ["syslog"]
database = "{{ vector_clickhouse_database }}"
table = "{{ vector_clickhouse_table }}"
endpoint = "http://{{ vector_clickhouse_host }}:{{ vector_clickhouse_port }}"
# auth = "default:"